.filters{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    justify-content: center;

    &_item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3px;
        justify-content: center;

        &__label{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 3px;
        }

        &__userInput{
            padding: 5px;
            width: 9rem;
            border: 1px solid rgb(239, 220, 79);
            border-radius: 10px;
        }

        
    }
}

.filters_item__userInput:focus{
    border: 1px solid #fc791e;
    outline: none;
}